/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #f4f4f4;
}

header {
    background-color: #689968;
    color: white;
    padding: 20px;
    text-align: center;
}

h1 {
    margin: 0;
}

main {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
}

.ticket-form {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.ticket-form h2 {
    margin-top: 0;
}

.ticket-form label {
    display: block;
    margin: 10px 0 5px;
}

.ticket-form input,
.ticket-form textarea {
    width: 100%;
    padding: 10px;
    padding-right: 1px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.ticket-form button {
    background-color: #689968;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.ticket-form button:hover {
    background-color:#689968 ;
}

footer {
    background-color: #689968;
    color: white;
    text-align: center;
    padding: 10px;
    position: absolute;
    bottom: 0;
    width: 100%;
}
